{% extends "base.html" %}



{% block headers %}
    <div align="center" >
        <h1>Drivers</h1>
        <a href="{% url 'driver_create' %}" type="button"  class="btn btn-dark">Add</a>
    </div>

{% endblock %}

{% block page_content %}
    <ul>
        {% for driver in context %}
            <li>{{ driver.name }}</li>
        {% empty %}<li>Sorry, no drivers registered yet.</li>
        {% endfor %}
    </ul>

<center>
    <a href="{% url 'home' %}" type="button" class="btn btn-dark">Return</a>
</center>

{% endblock %}