{% extends "base.html" %}

{% block headers %}
    <div align="center" >
        <h1>Driver - {{ driver.name }}</h1>
        {% if user == driver.user %}
            <a  type="button" href="{% url 'driver_edit' driver.id%}"  class="btn btn-dark" style="background-color:orange;margin-right:10px">Edit</a>
            <a  type="button" href="{% url 'driver_delete' driver.id%}" class="btn btn-dark" style="background-color:red">Delete</a>
        {% endif %}
    </div>

{% endblock %}

{% block page_content %}
<span vocab="http://schema.org/" typeof="Person">
    <ul>
        <div class="card-header-tabs">
            <h3>
                <u>Driver data</u>
            </h3>
        </div>
        <div class="card-body">
            <span property="givenName">
                <h5>
                    <b>Name: </b>
                    {{ driver.name }}
                </h5>
            </span>
            <h5>
                <b>Age: </b>
                {{ driver.age }}
            </h5>
            <span property="nationality">
                <h5>
                    <b>Nationality: </b>
                    {{ driver.nationality }}
                </h5>
            </span>
            <span property="memberOf" typeof="Organization">
              <span property="legalName">
                  <h5>
                      <b>Scuderia: </b>
                      {{ driver.scuderia }}
                  </h5>
              </span>
            </span>
            <span property="height">
                <h5>
                    <b>Height: </b>
                    {{ driver.height }}
                </h5>
            </span>
            <span property="weight">
                <h5>
                    <b>Weight: </b>
                    {{ driver.weight }}
                </h5>
            </span>
        </div>
    </ul>
    <div align="center" >
        <a href="{% url 'driver' %}" type="button" class="btn btn-dark" style="background-color:gray">Return</a>
    </div>
</span>
{% endblock %}