{% extends "base.html" %}
{% if form.errors %}
    <p>Los datos de usuario o contraseña son erroneos, intentalo otra vez</p>
{% endif %}

{%block page_content%}
    <center>
    <h1>Login</h1>
    <form method = "POST" action = "#">
        {%  csrf_token %}
        <label> Usuario: </label>
        <input type= "text" name = "nm" placeholder="Escribe el usuario"/>
        <label> Contraseña: </label>
        <input type= "text" name = "contraseña" placeholder="Escribe la contraseña"/>
        <p> <input type= "submit" value = "Enviar"/></p>
    </center>
    </form>

{%endblock%}
