{% extends "base.html" %}

{% block headers %}
    <div align="center" >
        <h1>Seasons
            <a href="{% url 'season_create' %}" type="button"  class="btn btn-dark" style="background-color:green">Add</a>
        </h1>
    </div>

{% endblock %}

{% block page_content %}
    <ul>
        {% for season in seasons %}
            <li>
                <h4>
                    <a href="{% url 'season_detail' season.id %}">{{ season.year }}</a>
                </h4>
            </li>
            {% empty %}<li>Sorry, no seasons registered yet.</li>
        {% endfor %}
    </ul>

    <div align="center">
        <a href="{% url 'home' %}" type="button" class="btn btn-dark" style="background-color:gray">Return</a>
    </div>

{% endblock %}