{% extends "base.html" %}

{% block headers %}
    <div align="center" >
        <h1>Season - {{ season.year }}</h1>
        {% if user == season.user %}
            <a type="button" href="{% url 'season_edit' season.id%}" class="btn btn-dark" style="background-color:orange;margin-right:10px">Edit</a>
            <a type="button" href="{% url 'season_delete' season.id%}" class="btn btn-dark" style="background-color:red">Delete</a>
        {% endif %}
    </div>
{% endblock %}
{% block page_content %}
    <ul>
        <div class="card-header-tabs">
            <h3>
                <u>Season data</u>
            </h3>
        </div>
        <div class="card-body">
            <h5>
                <b>Year of the season: </b>
                {{ season.year }}
            </h5>
            <h5>
                <b>Number of GP's: </b>
                {{ season.num_gp }}
            </h5>
            <h5>
                <b>Number of scuderias: </b>
                {{ season.num_scuderias }}
            </h5>
            <h5>
                <b>World champion: </b>
                {{ season.world_champion }}
            </h5>

        </div>
    </ul>
    <div align="center" >
        <a href="{% url 'season' %}" type="button" class="btn btn-dark" style="background-color:gray">Return</a>
    </div>
{% endblock %}