{% extends "base.html" %}

{% block headers %}
    <div align="center" >
        <h1>Scuderia - {{ scuderia.name }}</h1>
        {% if user == scuderia.user %}
            <a type="button" href="{% url 'scuderia_edit' scuderia.id%}" class="btn btn-dark" style="background-color:orange;margin-right:10px">Edit</a>
            <a type="button" href="{% url 'scuderia_delete' scuderia.id%}" class="btn btn-dark" style="background-color:red">Delete</a>
        {% endif %}
    </div>

{% endblock %}
{% block page_content %}
 <span vocab="http://schema.org/" typeof="Car">
    <ul>
        <div class="card-header-tabs">
            <h3>
                <u>Scuderia data</u>
            </h3>
        </div>
        <div class="card-body">
            <span property="name">
                <h5>
                    <b>Name: </b>
                    {{ scuderia.name }}
                </h5>
            </span>
            <span property="color">
                <h5>
                    <b>Main color: </b>
                    {{ scuderia.main_color }}
                </h5>
            </span>
            <span property="description">
                <h5>
                    <b>Principal Driver: </b>
                    {{ scuderia.principalDriver }}
                </h5>
            </span>
            <span property="description">
                <h5>
                    <b>Secondary Driver: </b>
                    {{ scuderia.secondaryDriver }}
                </h5>
            </span>
            <span property="description">
                <h5>
                    <b>Number of championships: </b>
                    {{ scuderia.num_championships }}
                </h5>
            </span>
        </div>
    </ul>
    <div align="center">
        <a href="{% url 'scuderia' %}" type="button" class="btn btn-dark" style="background-color:gray">Return</a>
    </div>
</span>
{% endblock %}