{% extends "base.html" %}

{% block headers %}
    <div align="center" >
        <h1>Scuderias
            <a href="{% url 'scuderia_create' %}" type="button"  class="btn btn-dark" style="background-color:green">Add</a>
        </h1>
    </div>

{% endblock %}

{% block page_content %}
    <ul>
        {% for scuderia in scuderias %}
            <li>
                <h4>
                    <a href="{% url 'scuderia_detail' scuderia.id %}">{{ scuderia.name }}</a>
                </h4>
            </li>
            {% empty %}<li>Sorry, no scuderias registered yet.</li>
        {% endfor %}
    </ul>

    <div align="center">
        <a href="{% url 'home' %}" type="button" class="btn btn-dark" style="background-color:gray">Return</a>
    </div>

{% endblock %}