{% extends "base.html" %}

{% block headers %}
    <div align="center" >
        <h1>Scuderias</h1>
        <a href="{% url 'scuderia_create' %}" type="button"  class="btn btn-dark">Add</a>
    </div>

{% endblock %}

{% block page_content %}
    <ul>
        {% for scuderia in scuderias %}
            <li><a href="{% url 'scuderia_detail' scuderia.id %}">{{ scuderia.name }}</a></li>
        {% empty %}<li>Sorry, no scuderias registered yet.</li>
        {% endfor %}
    </ul>

    <center>
        <a href="{% url 'home' %}" type="button" class="btn btn-dark">Return</a>
    </center>

{% endblock %}