{% extends "base.html" %}

{% block headers %}
    <div align="center" >
        <h1>Stats
            <a href="{% url 'stats_create' %}" type="button"  class="btn btn-dark" style="background-color:green">Add</a>
        </h1>
    </div>

{% endblock %}

{% block page_content %}
    <ul>
        {% for stat in stats %}
            <li>
                <h4>
                    <a href="{% url 'stats_detail' stat.id %}">{{ stat.name }}</a>
                </h4>
            </li>
            {% empty %}<li>Sorry, no stats registered yet.</li>
        {% endfor %}
    </ul>

    <div align="center">
        <a href="{% url 'home' %}" type="button" class="btn btn-dark" style="background-color:gray">Return</a>
    </div>

{% endblock %}